/***START RWD***/
/*
 * CSS appear in decorator ONLY
 */
/* To fix IE bold issue */
@font-face {
	font-family: 'dax-regularregular';
	src: url('../fonts/daxregular-webfont.eot');
	src: url('../fonts/daxregular-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/daxregular-webfont.woff')
		format('woff'), url('../fonts/daxregular-webfont.ttf')
		format('truetype'),
		url('../fonts/daxregular-webfont.svg#dax-regularregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'dax-regularregularForIE9andAbove';
	src: url('../fonts/daxregular-webfont.eot');
	src: url('../fonts/daxregular-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/daxregular-webfont.woff')
		format('woff'), url('../fonts/daxregular-webfont.ttf')
		format('truetype'),
		url('../fonts/daxregular-webfont.svg#dax-regularregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'dax-regularregularForIE9andAbove';
	src: url('../fonts/daxbold-webfont.eot');
	src: url('../fonts/daxbold-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/daxbold-webfont.woff')
		format('woff'), url('../fonts/daxbold-webfont.ttf') format('truetype'),
		url('../fonts/daxbold-webfont.svg#dax-regularregular') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}

body {
	/* padding-bottom: 20px; */
	/*General Font*/
	font-family: 'dax-regularregular', Helvetica, Arial, sans-serif;
	/* background-image: url('../images/bg-gradient.png'); */
	background-repeat: repeat-x;
}

@media screen and (min-width:0\0) {
	div>b,td>b {
		font-family: 'dax-regularregularForIE9andAbove', Helvetica, Arial,
			sans-serif;
		font-size: 13px;
	}
}

label.error {
	color: #EF2F23;
	font-size: 1em;
	font-weight: normal;
}

label.error1 {
	color: #FFFF00;
	font-size: 1em;
	font-weight: normal;
}

.header {
	color: #999;
	position: absolute;
	right: 0;
	bottom: 10px;
}

.header-image {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.footer {
	background-image: url('../images/bg-footer.png');
	background-repeat: no-repeat;
	background-size: 1370px;
	background-position: top;
	max-width: 100%;
	height: auto;
}

.footer-swift-image {
	background-position: -150px 0;
}

.footer-container {
	font-size: 12px;
	margin-top: 4px;
}

.footer-container hr {
	margin-top: 0;
	margin-bottom: 10px;
}

.logout-container {
	margin-top: 8%;
	margin-left: 10%;
}

.systemDown-container {
}

.dropdown-submenu {
	position: relative;
}

.dropdown-menu.open {
	display: block;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a.expand {
	background-color: #DDD;
	color: #333;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.user-info {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 35px;
	line-height: 20px;
}

.notification {
	padding-left: 224px;
	line-height: 0;
	width: 850px;
}

.shortcut-panel {
	font-size: 24px;
}

.text-bold {
	font-weight: bold;
}

.note {
	margin: 10px 0 10px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	background-color: #fff;
}

.note-success {
	background-color: #E5E7E9;
	border-color: #909497;
}

.note-warning {
	background-color: #E5E7E9;
	border-color: #909497;
}

.note-danger {
	background-color: #FFCCCC;
	border-color: #FF0000;
}

/*overwrite jquery ui default behavior*/
.ui-accordion-header {
	background: #001548;
}

.ui-accordion-header.ui-state-hover {
	color: #fff;
}

.ui-accordion-header-active {
	background: #001548;
	border-color: #001548;
}

/*overwrite bootstrap default behavior*/
.navbar-default {
	background-color: #00599D;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover
	{
	color: #FFF;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
	{
	background-color: #EF2F23;
	color: #FFF;
}

.navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
	/*color: #333;*/
	color: #FFF;
}

.navbar-default .navbar-nav>.open>a,.xnavbar-default .xnavbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
	{
	background-color: #00599D;
	color: #FFFFFF;
}

/*color of the first level selected navibar */
.navbar-nav>.selected>a,.navbar-nav>.selected>a:focus {
	background-color: #EF2F23;
}

.navbar-default .navbar-collapse {
	border: 0px;
}

.navbar-toggle {
	background-color: #DDD;
}

.navbar-logout { /* 	background-color: #DDD; */
	position: relative;
	float: right;
	padding: 2px 2px;
	margin-right: 2px;
	margin-top: 15px;
	margin-bottom: 5px;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-toggle1 {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 6px 5px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #DDD;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn {
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}

.btn-primary,input.btn-primary:hover {
	background-color: #00599D !important;
	border-color: #00599D !important;
}

.btn-danger,input.btn-danger:hover {
	background-color: #EF2F23;
	border-color: #EF2F23;
}

.modal-header {
	background-color: #00599D;
	color: #FFFFFF;
}

.modal-header .close {
	color: #FFFFFF;
	opacity: 1;
}

.modal {
	overflow-y: auto;
}

.modal-open {
	overflow: auto;
}

.modal-open[style] {
	padding-right: 0px !important;
}

.table thead {
	background-color: #00599D;
	color: #FFFFFF;
}

.table tbody {
	background-color: #fff;
	/*color: #00599D;*/
}

/*bootstrap xs*/
@media only screen and (max-width: 767px) {
	#top-nav-menu {
		clear: both;
	}
	.top-nav {
		margin-bottom: 0px;
	}
	.user-info {
		padding-bottom: 0px;
		padding-right: 0px;
		padding-left: 0px;
	}

	/*overwrite bootstrap default behavior*/
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a.expand {
		color: #333;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		background-color: #FFF;
		color: #333;
	}
	.navbar-nav .open .dropdown-menu>li>a.left-padding-lv1 {
		padding-left: 40px;
	}
}

.description {
	color: #0000ff;
	font-style: italic;
	font-size: 14px;
}

/*display asterisk in red color for required field */
.asterick {
	color: #ff0000;
}

.shortcut-icon {
	text-align: center;
	font-size: 14px;
	width: 70px;
	height: 80px;
	color: #000000;
}

/*style login and password label in login*/
.login-label {
	color: #FFFFFF;
	font-size: 16px;
	/*white-space: nowrap;*/
}

/*style plus and minus button*/
.wf-button {
	font-family: Monospace;
	font-size: 17px;
}

td>a {
	text-decoration: underline;
}

.hiddenDisplaytagTable {
	display: none;
}

/*for break the long dropdown into different line in mobile view*/
.dropdown-menu>li>a {
	white-space: normal;
	word-wrap: break-word;
}

.header-font {
	font-size: 18px;
}
/*to put ... if the menu line is too long*/
.form-control {
	overflow: hidden;
	display: inline-block;
	white-space: pre-wrap;
	text-overflow: ellipsis;
}

.mbsblogo-wrapper {
	width: 100%;
	/*   min-width: 980px; */
	overflow: hidden;
	background: url('../images/footer.png') no-repeat center;
	/* background: url('../images/footerbar.png') no-repeat center;*/
}

.mbsblogo-wrapper>div>ul {
	list-style: none outside;
}

.mbsblogo-wrapper>div>ul,.mbsblogo-wrapper>div>ol {
	margin-bottom: 0px;
	height: 32px;
}

.customBtn {
	width: 155px;
}

.fullhero {
	background-image: url('../images/bg-login-panel-small.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 80px;
}

@media ( min-width : 400px) {
	.fullhero {
		background-image: url('../images/bg-login-panel-medium.jpg');
	}
}

@media ( min-width : 800px) {
	.fullhero {
		background-image: url('../images/bg-login-panel.jpg');
	}
}

.nodiffBlock {
	word-wrap: break-word;
	border-style: solid;
	border-width: 1px;
	DISPLAY: block;
}

.diffBlock {
	color: blue;
	word-wrap: break-word;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	DISPLAY: block;
	/* 	background-color:blue; */
}

.noborder {
	border-color: white;
	border-width: 0px;
	border-style: none;
}

.nodiff {
	color: #212121;
	text-align: left;
	padding-right: 6px;
	padding-left: 12px;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: white;
	border-bottom-color: white;
	border-left-color: white;
	background-repeat: repeat-x;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: white;
	word-wrap: break-word;
	border-style: solid;
	border-width: 1px;
}

.difftitle {
	text-align: left;
	padding-right: 6px;
	padding-left: 12px;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #414141;
	font-weight: bold;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: white;
	border-bottom-color: white;
	border-left-color: white;
	background-repeat: repeat-x;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: white;
}

.widthPx200 {
	width: 200px;
}

.widthPercent20 {
	width: 20%;
}

.jompayLogo {
	width: 11%;
	height: 82;
}

.notification_email {
	position: relative;
	left: 110px;
	top: -8px;
}

.notification_sms {
	position: relative;
	left: 95px;
	top: -8px;
}

.modal-viewAccessibleService {
	width:auto;
	max-width:900px !important;
}

/*To control the text not fall into 2nd line if the text is longer than the tet field*/
.text-control {
	white-space: nowrap;
}
/***END RWD***/

/* for dtable */
.pre {
	white-space: pre-wrap;
}