  input {
    font-family: Helvetica;
  }
  
  label.error{
	color: #EF2F23;
	font-size:1em;
	font-weight:normal;	
	}


.login-label> .padding-left-lv1 {
  padding-left: 22px;
}

.login{
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
}

.login h4{
	color: #fff;
}

.login input{
	padding-top: 0;
	padding-bottom: 0;
	height: auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.nav>li>a{
	padding: 5px 10px;
}

.red_bold {
	font-size: 11px;
	font-weight: bold;
	color: #D61820;
}

a:link, a:active, a:visited {
}

a:hover {
	color: #D71920;
}