	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/10/2018 08:32
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg"),
       url("../fonts/flaticon/disability/png/002-autism.png#Flaticon") format("png");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-doctor:before { content: "\f100"; }
.flaticon-child:before { content: "\f101"; }
.flaticon-design:before { content: "\f102"; }
.flaticon-baby-boy:before { content: "\f103"; }
.flaticon-kids:before { content: "\f104"; }
.flaticon-stethoscope-medical-tool:before { content: "\f105"; }
.flaticon-brain:before { content: "\f106"; }
.flaticon-stethoscope:before { content: "\f107"; }
.flaticon-emergency:before { content: "\f108"; }
.flaticon-24-hours:before { content: "\f109"; }
.flaticon-cardiogram:before { content: "\f10a"; }
.flaticon-dropper:before { content: "\f10b"; }
.flaticon-first-aid-kit:before { content: "\f10c"; }
.flaticon-autism:before { content: "\f10d"; }
.flaticon-autism-1:before { content: "\f10e"; }
.flaticon-autism-2:before { content: "\f10f"; }
.flaticon-autism-3:before { content: "\f110"; }
.flaticon-conversation:before { content: "\f111"; }
.flaticon-conversation-1:before { content: "\f112"; }
.flaticon-consumer-behaviour:before { content: "\f113"; }
.flaticon-settings:before { content: "\f114"; }
.flaticon-motion-sensor:before { content: "\f115"; }
.flaticon-analysis:before { content: "\f116"; }
.flaticon-brain-1:before { content: "\f117"; }
.flaticon-speech-bubble:before { content: "\f118"; }
.flaticon-talk:before { content: "\f119"; }
.flaticon-helping-hand:before { content: "\f11a"; }
.flaticon-warning:before { content: "\f11b"; }
.flaticon-qa:before { content: "\f11c"; }
.flaticon-repeat-1:before { content: "\f11d"; }
.flaticon-social:before { content: "\f11e"; }
.flaticon-individual:before { content: "\f11f"; }
.flaticon-crying:before { content: "\f120"; }
.flaticon-walk:before { content: "\f121"; }
.flaticon-dancer-motion:before { content: "\f122"; }